<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Seite.css" />
    <include path="~/Content/chosen.css" />
    <include path="~/Content/chosen_theme.css" />
    <include path="~/Content/custom.css" />
  </styleBundle>
</bundles>