<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Framework40Dir>C:\Windows\Microsoft.NET\Framework\v4.0.30319</Framework40Dir>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\PrecompiledWeb\WT\Metrona.Wt.Web.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Klima</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Metrona.Wt.Database.Models.KlimaContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Metrona.Wt.Database.Models.KlimaContext, Metrona.Wt.Database" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Brunata.KlimaContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Database=klima2;Data Source=gorkon.ip-connect.net; User Id=klima;Password=2ine2yMd; Respect Binary Flags=false;Connection Timeout=120;default command timeout=120;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Brunata.KlimaContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Database=klima2;Data Source=gorkon.ip-connect.net; User Id=klima;Password=2ine2yMd; Respect Binary Flags=false;Connection Timeout=120;default command timeout=120;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>   
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>False</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
	<!-- MvcBuildViews>True</MvcBuildViews -->
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Metrona.Wt.Database.Models.KlimaContext" />
  </ItemGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Brunata.KlimaContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Metrona.Wt.Database.Models.KlimaContext-Web.config Connection String" />
  </ItemGroup>
  
  <!--Target Name="AfterBuild" Condition="'$(MvcBuildViews)'=='true'">
    <AspNetCompiler VirtualPath="temp" PhysicalPath="$(ProjectDir)\..\$(ProjectName)" />
  </Target -->
</Project>